<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Udacity project</title>
        
    </head>

    <body>

        <header>
        <h1>Udacity</h1>
        <h2>Evaluate a News Article with NLP</h2>
        </header>

        <main>
            <p>
                Type in an URL to try Aylien NLP.
            </p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="url" name="test-url" value="" onblur="onBlur()" placeholder="URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="results">
                <ul>
                    <li>
                        <h3>Agreement:</h3>
                        <p id="agreement"></p>
                    </li>
                    <li><h3>Subjectivity:</h3>
                        <p id="subjectivity"></p>
                    </li>

                    <li>
                        <h3>Confidence:</h3>
                        <p id="confidence"></p>
                        </li>
                        <li><h3>Confidence: </h3>
                        <p id="confidence"></p>
                    </li>
                    <li>
                    <h3>Irony:</h3>
                    <p id="irony"></p>
                    </li>
                </ul>   
            </section>
        </main>

        <footer>
            <p>Made for Udacity Nanodegree project</p>
        </footer>
        <script>
            // Define the onBlur function
             function onBlur() {
             // Code to be executed when the element loses focus
            console.log("Element lost focus");
            }
            </script>
        <script>
            //Check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
                    //registration was successful
                    console.log('ServiceWorker registration is successful: ', registration.scope);
                    }, function(err) {
                    //registration failed 
                    console.log('ServiceWorker registration failed: ', err);
                    });
                });
            }
           </script>
    </body>
</html>